# Editors
.idea/
.vscode/
.zed/
.gram/
*.iml

# Node.js
node_modules/
bun.lock

# Python
.venv/
__pycache__/

# Rspack
.rslib/

# DNSControl
config/zones/
creds.json
creds.*.json

# Artifacts
dist/
build/
